/* ------------- Index (Home) file ------------- */
* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: lightskyblue;
}

#indexNav a {
    color: white;
    font-weight: bold;
}
i {
    margin-right: 10px;
}

/* Header */
#headerDiv {
    text-align: center;
    color: white;
}
/* Table */
#tableHome {
    width: 50%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0.1);
    margin: auto;

}

th, td {
    background: white;
    border: 1px solid #ddd;
    padding: 12px;

}
.bookInfo {
    text-align: center;
}

#indexNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}
#indexNav a {
    color: white;
    font-weight: bold;
}
i {
    margin-right: 10px;
}



#indexQuote {
    text-align: center;
}
#indexQuoteItself {
    font-size: x-large;
    color: white;
    font-weight: bold;

}
#indexQuoteAuthor {
    font-size: larger;
    color: white;
}
#imgIndex {
    width: 100px;
    height: 100px;
}

/* Create Page */
.createPage * {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: lightskyblue;
}

/* Create Nav */
#createNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;


}
#createNav a {
    color: white;
    font-weight: bold;
}
i {
    margin-right: 10px;
}

/* Create Header */
#createHeaderDiv {
    text-align: center;
}
#createHeader {
    color: white;
}

/* ------------- Create Book Input Form ------------- */
#create {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;


}
#titleLabel {
    font-size: 30px;
}
#title {
    width: 350px;
    height: 30px;
    border-radius: 12px;
    border-color: white;
    background: white;
    text-align: center;

}
#authorLabel {
    font-size: 30px;
}
#author {
    width: 350px;
    height: 30px;
    border-radius: 12px;
    border-color: white;
    background: white;
    text-align: center;

}
#yearLabel {
    font-size: 30px;
}
#publicationYear {
    width: 350px;
    height: 30px;
    border-radius: 12px;
    border-color: white;
    background: white;
    text-align: center;

}
#submitButtonCreate {
    border-radius: 12px;
    border-color: white;
    width: 100px;
    height: 40px;
    color: white;
}
/* Other */
#messageDiv {
    text-align: center;
}
#responseMessage {
    color: white;
}
#createQuoteDiv {
    text-align: center;
}
#createQuote {
    font-size: x-large;
    color: white;
    font-weight: bold;

}
#createQuoteAuthor {
    font-size: larger;
    color: white;
}
#imageCreate {
    width: 100px;
    height: 100px;
}


/* ------------- Search Page ------------- */

/* Search Nav */
#searchNav {
    display: flex;
    justify-content: space-around;
}

#searchNav a {
    color: white;
}

/* Search Header */
#searchHeaderDiv {
    text-align: center;
}

#searchHeader {
    color: white;
}


/* Search Bar */
#searchBarForm {
    text-align: center;
}
#idSearchInput {
    border-radius: 12px;
    text-align: center;
    font-size: 17px;
    border-color: white;
    width: 50px;
    height: 40px;
    background: white;

}
#searchLabel {
    color: white;
}
#searchButton {
    color: white;
    border-color: white;
    border-radius: 12px;
    width: 80px;
    height: 45px;
}

/* Search Book Information Table */
#searchTable {
    border-radius: 12px;
    margin: auto;
    border: 1px solid white;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0.1);
    overflow: hidden;
}


/* Other (Search) */
#otherSearch {
    text-align: center;

}
#catImageSearch {
    width: 100px;
    height: 100px
}
#quoteSearch {
    color: white;
    font-size: x-large;
    font-weight: bold;
}
#quoteAuthorSearch {
    color: white;
    font-size: large;
}
#errorDiv {
    text-align: center;
}
#responseMessageSearch {
    color: white;
    font-size: 20px;
}