<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Delete a Book</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body class="delete-page">

<nav id="deleteNav" class="nav">
  <a href="/books" class="nav-link"><i class="fa-solid fa-house"></i>Home</a>
  <a href="/books/search" class="nav-link"><i class="fa-solid fa-magnifying-glass"></i>Search</a>
  <a href="/books/create" class="nav-link"><i class="fa-solid fa-square-plus"></i>Create</a>
  <a href="/books/update" class="nav-link"><i class="fa-solid fa-pencil"></i>Update</a>
  <a href="/books/delete" class="nav-link"><i class="fa-solid fa-delete-left"></i>Delete</a>
</nav>

<div class="header">
  <h1 id="deleteHeader" class="page-header">Delete a Book</h1>
</div>

<form id="deleteForm" class="form">
  <label for="idDelete" class="form-label">ID</label>
  <input type="number" id="idDelete" class="form-input">
  <button type="submit" id="deleteButton" class="form-button">Submit</button>
</form>

<div id="responseMessageDiv" class="response-message">
  <p id="responseMessageDelete" class="response-message-text"></p>
</div>

<div class="quote-container">
  <p class="quote" id="quoteText">"Books are mirrors: You only see in them what you already have inside you."</p>
  <p class="quote-author" id="quoteAuthor">–Carlos Ruiz Zafón</p>
  <img src="/images/spacebookimage.webp" alt="" class="image" id="imageDelete">
</div>

<script src="/main.js"></script>

</body>
</html>


